@import url("pygment_highlights.css");

/* --- General --- */

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background-color: #fafafa;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #890000;
}
a:hover,
a:focus {
  color: #c0392b;
}
blockquote {
  color: #808080;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background-color: #c0392b;
}
::selection {
  color: white;
  text-shadow: none;
  background-color: #c0392b;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

img {
  max-width: 100%;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

.linked-section {
  padding-top: 60px;
  margin-top: -25px;
}

/* --- Navbar --- */

.navbar-custom {
  background-color: #fff;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: #404040;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #c0392b;
}

.navbar-custom .navbar-brand-logo {
  padding-top: 0;
  transition: padding .5s ease-in-out;
}
.navbar-custom .navbar-brand-logo img {
  height: 50px;
  transition: height .5s ease-in-out;
}
.navbar-custom.top-nav-short .navbar-brand-logo {
  padding-top: 5px;
}
.navbar-custom.top-nav-short .navbar-brand-logo img {
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  position: absolute;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }
  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
  }
}

/* --- Main Content Spacing --- */
.main-content {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .main-content {
    padding-top: 130px;
  }
}

/* --- Intro Header --- */
.intro-header {
  margin-top: 0;
}

/* --- Footer --- */
footer {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  color: #888;
  text-align: center;
  padding: 2em 0 1em 0;
  font-size: 0.95em;
  margin-top: 3em;
}
footer .footer-links {
  margin-bottom: 1em;
}
footer .footer-links a {
  color: #404040;
}
footer .footer-links a:hover {
  color: #c0392b;
}
footer .copyright {
  margin-bottom: 0.5em;
}
footer .theme-by {
  font-size: 0.9em;
}

/* --- Blog Post Preview --- */
.post-preview {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  margin-bottom: 2em;
  padding: 2em;
  border: 1px solid #eee;
}

.post-image {
  float: right;
  width: 192px;
  height: 192px;
  margin-left: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-image img {
  border-radius: 50%;
  width: 192px;
  height: 192px;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0,0,0,0.08);
}

@media (max-width: 700px) {
  .main-content {
    padding-top: 60px;
  }
  .post-image, .post-image img {
    width: 128px;
    height: 128px;
  }
  .post-image {
    float: none;
    margin: 0 auto 1em auto;
  }
}

.blog-tags {
  margin-top: 1em;
}

.blog-tags a {
  display: inline-block;
  margin-right: 0.5em;
  color: #666;
}

.blog-tags a:hover {
  color: #c0392b;
  text-decoration: none;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

blockquote {
  color: #808080;
  font-style: italic;
}